<?xml version="1.0" encoding="UTF-8"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" ?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

    <window apply="manament.Add1Composer">

    <separator/>

        <div align="right">  
            <hbox>
                <button label="Logout" id="logo" mold="trendy" style="font-size:18px" height="30px"/>

<separator/>

                <button label="กลับ" id="back" mold="trendy" style="font-size:18px" height="30px"/>  
            </hbox> 
        </div>

        <div align="left">  
                 <label value="ระบบเพิ่มเครื่องดื่ม" style="font-size:50px;font-weight:bold;color:#000000" /> 
        </div>
      
  
            
                <h:br />
                <div align="center">
                    <grid>
                        <columns>
                            <column label="กรอกข้อมูลเครื่องดื่ม" align="center" />
                        </columns>
                        <rows>
                        </rows>
                    </grid>
                    <grid id="listnamemode" sclass="GridLayoutNoBorder">
                        <columns>
                            <column align="right" />
                            <column align="left" />
                            <column align="right" />
                            <column align="left" />
                            <column align="right" />
                            <column align="left" />
                        </columns>
                        <rows>
                            <row>
                                <label value="ประเภทเครื่องดื่ม"/>
                                    <listbox id="tpyedrink" mold="select" style="font-size:16px" >
                                    <listitem label="เหล้า" />
                                    <listitem label="เบียร์" />
                                    <listitem label="น้ำเปล่า" />
                                    <listitem label="อัดลม" />
                                    <listitem label="อื่นๆ" />
                                    </listbox>
                                <label value="ชื่อเครื่องดื่ม"/>
                                    <textbox id="namedrink"/>
                                <label value="จำนวนที่เพิ่ม"/>
                                    <hbox>
                                        <textbox id="drinkadd"/>  
                                    </hbox>
                            </row>
                            <row>
                                <label value="ราคาทุน"/>
                                <hbox>
                                    <doublebox id="pricedrinkcosts" format="0.##"/><label value="บาท"/>
                                </hbox>
                                  <label value="ราคาขายหน้าร้าน"/>
                                <hbox>
                                    <doublebox id="priceperunit" format="0.##"/><label value="บาท"/>
                                </hbox>
                                  <label value="หน่วย" />
                                  <listbox id="styledrink" mold="select" style="font-size:16px" >
                                                <listitem label="ขวด" />
                                                <listitem label="กลม" />
                                                <listitem label="แบน" />
                                            </listbox>
                            </row>
                            <row>
                                <label value="วันที่นำเข้า"/>
                                <datebox id="dateimport" locale="th" format="dd/MM/yyyy" placeholder="เลือกวันที่นำเข้า"/>
                                <label value="วันหมดอายุ"/>
                                <datebox id="extdat" locale="th" format="dd/MM/yyyy" placeholder="เลือกวันหมดอายุ"/>
                               
                                  <label value="หมายเหตุ"/>
                                <textbox id="detil"/>
                              
                            </row>
                           
                        </rows>
                    </grid>
                    <h:br />
                    <hbox>
                        <button id="save" label="บันทึก" mold="trendy" style="font-size:18px" height="30px" />
                        <button id="cancle" label="ยกเลิก" mold="trendy" style="font-size:18px" height="30px"/>
                    </hbox>
                    <h:hr />
                    <label value="ประวัติการเพิ่มเครื่องดื่ม" style="font-size:25px;font-weight:bold;color:#000000"/>
                
                    <h:br />
                    <h:br />
                    <grid>
                        <columns>
                            <column label="แสดงรายการ" align="center"/>
                        </columns>
                        <rows>
                        </rows>
                    </grid>
                    <grid id="listproduct" mold="paging" pageSize="20">
                        <columns>
                            <column align="center" label="ชื่อเครื่องดื่ม" sort="auto" />
                            <column align="center" label="ประเภทเครื่องดื่ม" sort="auto" />
                            <column align="center" label="ราคาทุน" sort="auto" />
                            <column align="center" label="ราคาขายปลีก" sort="auto" />
                            <column align="center" label="จำนวน" sort="auto" />
                            <column align="center" label="หน่วย"  />
                            <column align="center" label="วันที่นำเข้า"  />
                            <column align="center" label="วันหมดอายุ"  />
                            <column align="center" label="หมายเหตุ"  />
                        </columns>
                        <rows>
                            <row>
                            </row>
                        </rows>
                    </grid>
                </div>


    </window>

</zk>