<?xml version="1.0" encoding="UTF-8"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" ?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

    <window apply="manament.Bad1Composer">

<separator/>

        <div align="right">  
            <hbox>
                <button label="Logout" id="logo" mold="trendy" style="font-size:18px" height="30px"/>

<separator/>

                <button label="กลับ" id="back" mold="trendy" style="font-size:18px" height="30px"/>  
            </hbox> 
        </div>

        <div align="left">  
                 <label value="ระบบเช็คสินค้าชำรุด" style="font-size:50px;font-weight:bold;color:#000000" /> 
        </div>

<h:br />
         <grid>
                        <columns>
                            <column label="กรอกข้อมูลเครื่องดื่มที่เสียหรือแตก" align="center" />
                        </columns>
                        <rows>
                        </rows>
         </grid>
                    <grid id="listnamemode2" sclass="GridLayoutNoBorder">
                        <columns>
                            <column align="right" />
                            <column align="center" />
                            <column align="left" />
                        </columns>
                            <rows>
                                <row>
                                <label value="ประเภทเครื่องดื่ม" style="font-size:16px"/>
                                    <listbox id="tpyedrink2" mold="select" style="font-size:16px" >
                                        <listitem label="เหล้า" />
                                        <listitem label="เบียร์" />
                                        <listitem label="น้ำเปล่า" />
                                        <listitem label="อัดลม" />
                                        <listitem label="อื่นๆ" />
                                    </listbox>
                                <label value="กรอกข้อมูล" style="font-size:16px"/>
                                </row>
                                <row>
                                    <label value="ชื่อเครื่องดื่ม" style="font-size:16px"/>
                                    <textbox id="namedrinkbad"/>
                                    <label value="กรอกข้อมูล" style="font-size:16px"/>
                                </row>
                                <row>
                                    <label value="จำนวนที่เสีย" style="font-size:16px"/>
                                    <intbox id="baddrink4" instant="true"/>
                                    <label value="กรอกข้อมูล" style="font-size:16px"/>
                                </row>
                                <row>
                                    <label value="กรุณาเลือกหน่วย" style="font-size:16px"/>
                                    <listbox id="   
styledrink2" mold="select" style="font-size:16px" >
                                        <listitem label="ขวด" />
                                        <listitem label="กลม" />
                                        <listitem label="แบน" />
                                    </listbox>
                                    <label value="กรอกข้อมูล" style="font-size:16px"/>
                                </row>
                                <row>
                                    <label value="วันที่เสีย" style="font-size:16px"/>
                                    <datebox id="dateimport2" locale="th" format="dd/MM/yyyy" placeholder="เลือกวันที่เสีย"/>
                                    <label value="กรอกข้อมูล" style="font-size:16px"/>
                                </row>
                                <row>
                                    <label value="สาเหตุ" style="font-size:16px"/>
                                    <textbox id="baddrink2"/>
                                    <label value="กรอกข้อมูล" style="font-size:16px"/>
                                </row>
                       
                        </rows>

                   
                    </grid>

                    <div align="center">

                    <h:br />
                    <hbox>
                        <button id="save" label="บันทึก" mold="trendy" />
                        <button id="cancle" label="ยกเลิก" mold="trendy" />
                    </hbox>
                    <h:hr />
                     <grid>
                        <columns>
                            <column label="แสดงข้อมูล" align="center"/>
                        </columns>
                        <rows>
                        </rows>
                    </grid>
                    <grid id="listproduct4" mold="paging" pageSize="20">
                        <columns>
                            <column align="center" label="ประเภทเครื่องดื่ม" sort="auto" />
                            <column align="center" label="ชื่อเครื่องดื่ม" sort="auto" />
                            <column align="center" label="จำนวน" sort="auto" />
                            <column align="center" label="หน่วย"  />
                            <column align="center" label="วันที่"  />
                            <column align="center" label="สาเหตุ"  />
                           
                        </columns>
                        <rows>
                        <row>
                        </row>
                        </rows>
                    </grid>



                   


</div>
      
    </window>

</zk>