<?xml version="1.0" encoding="UTF-8"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" ?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

    <window apply="manament.CirculationComposer">
<separator/>
            <div align="right">  
                <hbox>
                    <button label="Logout" id="logo" mold="trendy" style="font-size:18px" height="30px"/> 
                    <separator/>
                    <button label="กลับ" id="back" mold="trendy" style="font-size:18px" height="30px"/>  
                </hbox> 
            <div align="left">  
                 <label value="ยอดขาย" style="font-size:50px;font-weight:bold;color:#000000" /> 
             </div>
             </div>

    </window>

</zk>