<?xml version="1.0" encoding="UTF-8"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" ?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

    <window apply="manament.ManagmentComposer">

        <div align="center">

<separator/>
<separator/>

            <div align="right">  
                <button label="Logout" id="logo" mold="trendy" style="font-size:18px" height="30px"/>  
            </div>
                             
<separator/>
<separator/>

            <label value="ระบบการจัดการผู้จัดการ" style="font-size:60px;font-weight:bold;color:#000000" /> 

<separator/>
<separator/>
<separator/>
<separator/>


            <panel width="190px" height="350px" border="normal">
                <panelchildren>
                    <vbox>
                        <div align="center" style="background:#FFFACD">
                            <label value="เมนู" style="font-size:50px;font-weight:bold;color:#000000" /> 
                                   
<separator/>
<separator/>
<separator/>
<separator/>
<separator/>
<separator/>
                                <button label="สต๊อกสินค้า" id="stock" mold="trendy" style="font-size:18px" height="40px" /> 

<separator/>
<separator/>
<separator/>
<separator/>

                                <button label="ยอดขาย" id="circulation" mold="trendy" style="font-size:18px" height="40px"/>

<separator/>
<separator/>
<separator/>
<separator/>
                                <button label="ข้อมูลพนักงาน" id="lpersonnel" mold="trendy" style="font-size:18px" height="40px"/>  

<separator/>
<separator/>
<separator/>
<separator/>

                                <button label="แก้ไข เพิ่ม/ลด สินค้า" id="edit" mold="trendy" style="font-size:18px" height="40px"/>  
                            </div>
                        </vbox>   
                    </panelchildren>
                </panel>
        </div>
    </window>
</zk>