<?xml version="1.0" encoding="UTF-8"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" ?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

    <window apply="manament.StockComposer">

<separator/>

        <div align="right">  
            <hbox>
                <button label="Logout" id="logo" mold="trendy" style="font-size:18px" height="30px"/>

<separator/>

                <button label="กลับ" id="back" mold="trendy" style="font-size:18px" height="30px"/>  
            </hbox> 
            <div align="left">  
                 <label value="สต๊อกสินค้า" style="font-size:50px;font-weight:bold;color:#000000" /> 
            </div>
        </div>

<separator/>
<separator/>
<separator/>
<separator/>

        <div align="center" style="background:#FFFACD">
            <hbox>
                <div align="center" >
                    <panel width="500px" height="350px" border="normal" >
                        <panelchildren>
                           <vbox>
                                <div align="center">
                                    <label value="เครื่องดื่ม" style="font-size:40px;font-weight:bold;color:#000000" /> 
                                   
<separator/>
<separator/>
<separator/>
<separator/>
<separator/>
<separator/>

                                    <button label="ยอดคงเหลือ" id="Balance1" mold="trendy" style="font-size:18px" height="40px" /> 

<separator/>
<separator/>
<separator/>
<separator/>

                                    <button label="เพิ่ม" id="add1" mold="trendy" style="font-size:18px" height="40px"/>  

<separator/>
<separator/>
<separator/>
<separator/>

                                    <button label="โอน" id="carry1" mold="trendy" style="font-size:18px" height="40px"/>

<separator/>
<separator/>
<separator/>
<separator/>

                                    <button label="เสีย" id="bad1" mold="trendy" style="font-size:18px" height="40px"/>  
                                </div>
                            </vbox>   
                        </panelchildren>
                    </panel>
                </div>

                <div align="center" style="background:#FFFACD">
                    <panel width="500px" height="350px" border="normal" >
                        <panelchildren>
                           <vbox>
                                <div align="center"  >
                                    <label value="อาหาร" style="font-size:40px;font-weight:bold;color:#000000" /> 

<separator/>
<separator/>
<separator/>
<separator/>
<separator/>
<separator/>

                                    <button label="ยอดคงเหลือ" id="Balance2" mold="trendy" style="font-size:18px" height="40px" /> 

<separator/>
<separator/>
<separator/>
<separator/>

                                    <button label="เพิ่ม" id="add2" mold="trendy" style="font-size:18px" height="40px"/>  

<separator/>
<separator/>
<separator/>
<separator/>

                                    <button label="โอน" id="carry2" mold="trendy" style="font-size:18px" height="40px"/>  

<separator/>
<separator/>
<separator/>
<separator/>

                                    <button label="เสีย" id="bad2" mold="trendy" style="font-size:18px" height="40px"/>  
                                </div>
                            </vbox>   
                        </panelchildren>
                    </panel>
                </div>
            </hbox>
        </div>
    </window>
</zk>